@import "../app/variables";

.wrapper {
  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .duration {
    color: $gray;
    font-size: 16px;
  }

  .content {

  }

  .responsibilities {


    li {

    }
  }

  .toolsTechnologies {
    .title {

    }
  }
}